.containerGallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  background-color: #ffffff7d;
  backdrop-filter: blur(10px);
  border-radius: 15px;
}

.gallery {
  width: 100%;
  display: grid;
  min-width: 200px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  grid-auto-rows: 300px;
 
  justify-content: center;
  gap: 20px;
}

.gallery a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 
}
.gallery img {
  width: 100%;
  height: 300px;
 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  object-fit:cover;
  
}
.gallery video {
  width: 100%;
  height: 300px;
 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  object-fit:cover;
}
.headerGallery{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 40px;
}
.containerInfo{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.containerInfoDetail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}





 
.media-thumb {
  cursor: pointer;
  transition: transform 0.2s;
}
.media-thumb:hover {
  transform: scale(1.05);
}

/* Modal */
.modal {
  display: none ;
  position: fixed;
  z-index: 999;
 
  top: 50%;                   /* punto medio vertical */
  left: 50%;                  /* punto medio horizontal */
  transform: translate(-50%, -50%); /* reubica su centro al 50%/50% */
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.9);
  overflow: auto;             /* Permite scroll si algo se desborda */
  padding: 20px;              /* Espacio para que no toque bordes */
}
.modal-content {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}
.modal-content img,
.modal-content video {
  max-width: 80vw !important;
  max-height: 80vh!important;
  border-radius: 8px;
}
.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
.entrenamientoContainer{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}