.card {
    background-color: #ffff ;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    max-width: 960px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin: 40px auto;
}

.header-title {
    position: relative;
    z-index: 0;
    height: 200px;
    background: linear-gradient(to right, #49d1e6, #ec38bc, #f27121);
}

.overlay {
    position: absolute;
    inset: 0;
    background: url('placeholder.svg?height=300&width=1200') center/cover no-repeat;
    mix-blend-mode: overlay;
    opacity: 0.2;
}

.header-text {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    font-size: 100px;
    opacity: 0.2;
    font-weight: bold;
}

.content {
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    
 
}

.profile-left,
.profile-right {
    padding: 24px;
    box-sizing: border-box;
    color: #000;
}

.profile-left {
width: 100%;
max-width: 320px;
 
}

.profile-pic {
width: 200px;
height: 200px;
margin: -60px auto 16px;
border: 4px solid white;
border-radius: 50%;
overflow: hidden;
background-color: white;
box-shadow: 0 4px 8px rgba(236, 53, 53, 0.926);
}

.profile-pic img {
width: 100%;
height: 100%;
object-fit: cover;
}

.name {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-align: center;
}

.subtitle {
color: #666;
}

.info-grid {
margin-top: 24px;
display: grid;
gap: 16px;
}

.info-item {
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: left;
  
}
.info-item span {
    font-size: 14px;
    font-weight: bold;
    color: #000000bc;
    margin-left: 5px;
}
.info-item svg{
    background-color: #eee;
    color: #ffff;
    padding: 5px;

 
}

.icon {
width: 32px;
height: 32px;
border-radius: 50%;
flex-shrink: 0;
background: linear-gradient(to bottom right, #8e2de2, #ec38bc);
}

.icon.dumbbell {
background: linear-gradient(to bottom right, #ec38bc, #8e2de2);
}
.icon.award {
background: linear-gradient(to bottom right, #8e2de2, #f27121);
}
.icon.clock {
background: linear-gradient(to bottom right, #f27121, #ec38bc);
}
.icon::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    margin: 8px auto;
    background: white;
    border-radius: 50%;
}
.description{
    opacity: 0.7;
}